:root {
	--primary: #ea0a23;
	--primon: #fff;
	--primon-70: rgba(255, 255, 255, 0.7);
	--primon-icon: #fff;
	--primon-border: rgba(255, 255, 255, 0.2);
	--primary-60: rgba(234, 10, 35, 0.6);
	--primary-40: rgba(234, 10, 35, 0.4);
	--primary-10: rgba(234, 10, 35, 0.1);
	--accent: #161616;
	--accenton: #fff;
	--accenton-70: rgba(255, 255, 255, 0.7);
	--accenton-icon: #fff;
	--accenton-border: rgba(255, 255, 255, 0.2);
	--accent-60: rgba(22, 22, 22, 0.6);
	--accent-40: rgba(22, 22, 22, 0.4);
	--accent-10: rgba(22, 22, 22, 0.1);
	--additional: #434b51;
	--additionalon: #fff;
	--additionalon-70: rgba(255, 255, 255, 0.7);
	--additionalon-icon: #fff;
	--additionalon-border: rgba(255, 255, 255, 0.2);
	--additional-60: rgba(67, 75, 81, 0.6);
	--additional-40: rgba(67, 75, 81, 0.4);
	--additional-10: rgba(67, 75, 81, 0.1);
	--light-bg: #fff;
	--light-bgon: #2e2f38;
	--light-bgon-50: rgba(46, 47, 56, 0.5);
	--light-bgon-sec: #67697e;
	--light-bgon-sec-80: rgba(103, 105, 126, 0.8);
	--light-bgon-sec-60: rgba(103, 105, 126, 0.6);
	--light-bgon-sec-50: rgba(103, 105, 126, 0.5);
	--light-bgon-icon: #2e2f38;
	--light-bgon-icon-20: rgba(46, 47, 56, 0.2);
	--light-bgon-border: #e6e6e6;
	--light-bgon-border-50: rgba(230, 230, 230, 0.5);
	--light-bgon-bg: #f8f9fb;
	--light-bgon-bg-80: rgba(245, 245, 247, 0.8);
	--light-bgon-link: #008efc;
	--light-bgsec: #f8f9fb;
	--light-tip: #2e2f38;
	--light-tipon: #fff;
	--dark-bg: #2e4266;
	--dark-bgon: #fff;
	--dark-bgon-80: rgba(255, 255, 255, 0.8);
	--dark-bgon-sec: #b0b1bc;
	--dark-bgon-sec-80: rgba(176, 177, 188, 0.8);
	--dark-bgon-sec-60: rgba(176, 177, 188, 0.6);
	--dark-bgon-sec-50: rgba(176, 177, 188, 0.5);
	--dark-bgon-icon: #fff;
	--dark-bgon-icon-20: rgba(255, 255, 255, 0.2);
	--dark-bgon-border: #93949f;
	--dark-bgon-border-40: rgba(147, 148, 159, 0.4);
	--dark-bgon-bg: #1d1d2c;
	--dark-bgon-bg-80: rgba(29, 29, 44, 0.8);
	--dark-bgsec: #263b61;
	--dark-tip: #fff;
	--dark-tipon: #000;
	--system-error: #ff604e;
	--system-error20: rgba(255, 96, 78, 0.2);
	--system-error10: rgba(43, 5, 0, 0.1);
	--system-attention: #ffd043;
	--system-success: #5abf70;
	--system-success-50: rgba(90, 191, 112, 0.5);
	--system-success-20: rgba(90, 191, 112, 0.2);
	--system-bonus: rgba(255, 208, 67, 0.5);
	--system-disable: #efefef;
	--system-black: #171718;
	--system-white: #fff;
	--other-popup-tone: rgba(0, 0, 0, 0.6);
    

    --font-family: "Inter Tight", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Sofia Sans Extra Condensed", sans-serif;
    --font3: "Onest", sans-serif;
    --font4: "Manrope", sans-serif;
    --font5: "Rubik", sans-serif;
}